services:
  mongodb:
    image: mongo:latest
    container_name: mongodb
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: nexus
      MONGO_INITDB_ROOT_PASSWORD: nexus
      MONGO_INITDB_DATABASE: nexus
    ports:
      - "27017:27017"
    volumes:
      - ./src/reputation/storage/mongo-init.js:/docker-entrypoint-initdb.d/mongo-init.js:ro

  api:
    build:
      context: .
    image: nexus:latest
    ports:
      - 8000:8000
    container_name: api
    environment:
      - DAMPENING=0.3
      - INFLUENCE=1.0
      - K=5
      - LF=1.0
      - STATEFUL=true
      - MONGODB_PORT=27017
    depends_on:
      - mongodb